DATABASE_URL=postgresql://loja:loja@localhost:5432/loja_roupa
PORT=3333

INFINITEPAY_HANDLE=
INFINITEPAY_API_URL=https://api.checkout.infinitepay.io

FRONTEND_URL=http://localhost:3000
INFINITEPAY_WEBHOOK_URL=